<!DOCTYPE html>
<html lang="en-us">

<head>
    <title></title>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="Website, can-of-worms">
    <meta name="author" content="Emilio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main stuff -->
    <link rel="stylesheet" href="/main/main-style.css">
    <!-- Site specific stuff -->
    <link rel="stylesheet" href="style.css">


</head>

<body class="hide-scrollbar">
    <!-- Top bar -->
    <div>
        <!-- Server uses id attribute to find element and fill it in with nav stuff -->
        <nav class="top-bar" id="top-nav-bar">
        </nav>
    </div>

    <!-- Main page content n that -->
    <main>
        <div class="inner-content" id="main-inner-content">
            <h2>Template page</h2>
            <p>If you see this, I straight up forgot to add anything to this page</p>
        </div>
    </main>

    <footer>
    </footer>
    <!-- Main js -->
    <script src="/main/main-script.js"></script>
    <!-- Site specific js -->
    <script src="script.js"></script>
</body>



</html>