/* THIS IS THE MAIN CSS THAT IS SHARED ACROSS ALL PAGES */

/* Custom variables */

:root {
    --main-background-colour: rgb(29 30 30);
    --main-grey-colour: rgb(93 93 93 / 10%);
    --main-light-grey-colour: #4f4f4f;
    --a-nav-item-border-colour: #353535;
    --a-nav-item-border-size: 7px;
    --inner-content-width: 25vw;
}

/* General screens */


html {
    background-color: var(--main-background-colour);
    /* height: 100%; */
}

body {
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    color: white;
}

nav.top-bar {
    border: 1px;
    min-height: 55px;
    align-content: center;
    background-color: var(--main-grey-colour);

}

h2 {
    margin: 0px;
}

a.nav-item {
    color: #eeeeff;
    text-decoration: none;
    margin-right: 7px;

    /* Invisible border so it doesn't push out other items when hovering */
    border: var(--a-nav-item-border-size) solid rgb(255 255 255 / 0%);

}

/* On hover of nav items make it clear that it's the selected one */
a.nav-item:hover {
    background-color: var(--a-nav-item-border-colour);
    border: var(--a-nav-item-border-size) solid var(--a-nav-item-border-colour);
    border-radius: 0.75rem;
}


main {
    margin-top: 10px;
    /* Make height minimum to 100% veiwport height so footer is at bottom of page */
    min-height: 100vh;
}

footer {
    color: grey;
    /* bottom: 0px; */
    /* position: absolute; */
    /* width: 100%; */
    min-height: 3rem;
    align-content: center;
    border-top: 2px solid #393939;
    font-size: medium;
    padding: 10px;
    /* Make all footer content align in a row */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Space between each element */
    column-gap: 10px;
}

div.horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

div.vertical-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.small-vertical-divider {
    width: 2px;
    background-color: var(--main-light-grey-colour);
    height: 50px;

}

/* Hide scrollbars but keep functionality */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
}

a.no-link-colour {
    color: inherit;
}

.hidden-button {
    cursor: pointer;
}

div.inner-content {
    /* Inner content is like squeezed in n that */
    /* margin: 0px 30vw 0px 30vw;  */
    margin: 0px auto 0px auto;
    max-width: var(--inner-content-width);
}

.left-align {
    text-align: left;

}

div.admin-menu-container{
    min-height: 15vh;
    background-color: var(--main-grey-colour);
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button.admin-menu-item {
    height: 10vh;
    background-color: var(--main-light-grey-colour);
    border-color: var(--main-background-colour);
    border-style: solid;
    border-radius: 15px;
    color: white;
    width: 12vh;
    font-size: large;
    cursor: pointer;
}

/* 
 For specific screens.
 Basically u do @media [media type] (and) ... 
 See https://www.w3.org/TR/CSS2/media.html 
 I have no idea what "@media only ..." is used for*/

/* Phone specific */
@media screen and (max-width: 600px) {
    main {
        margin-left: 200px;
        margin-right: 20px;
    }
}

/* Desktop */
@media screen and (min-width: 601px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }
}