<!DOCTYPE html>
<html>

<head>
    <title>Page not found</title>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="The page wasn't found n that">
    <meta name="keywords" content="Website, can-of-worms">
    <meta name="author" content="Emilio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main stuff -->
    <link rel="stylesheet" href="/main/main-style.css">
</head>

<body class="hide-scrollbar">
    <div>
        <nav class="top-bar" id="top-nav-bar">
        </nav>
    </div>
    <main>
        <div class="inner-content" id="main-inner-content">
            <h2>
                The page you requested wasn't found. Unlucky 🤣
            </h2>
            <a href="/home/" class="no-link-colour">
                Head to Homepage
            </a>
        </div>
    </main>
    <footer>

    </footer>
</body>
<script>
    window.isErrorPage = true;
</script>

<!-- Main js -->
<script src="/main/main-script.js"></script>

</html>